/node_modules
/public/hot
/public/storage
/public/css
/public/demos
/public/include
/public/images
/public/js
/public/less
/public/sass
/public/one-page
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
